*.tar
*.tar.gz
*.zip
venv*/
envs/
slurm_logs/

sync1.sh
data_preprocess_pj1
data-preparation1
__pycache__
*.log
*.pyc
.vscode
debug/
*.ipynb
.idea

# vscode history
.history

.DS_Store
.env

bad_words/
bak/

app/tests/*
temp/
tmp/
tmp
.vscode
.vscode/
ocr_demo
.coveragerc
/app/common/__init__.py
/magic_pdf/config/__init__.py
source.dev.env

tmp

projects/web/node_modules
projects/web/dist

projects/web_demo/web_demo/static/
cli_debug/
debug_utils/

# sphinx docs
_build/


output/
AMORC-Monographs/Atrium 2/013_Atrium_2_Init_052322.pdf
AMORC-Monographs/Atrium 2/014_Atrium_2_Nos_1-3_020422.pdf
AMORC-Monographs/Atrium 2/015_Atrium_2_Nos_4-7_040422.pdf
AMORC-Monographs/Atrium 2/016_Atrium_2_Nos_8-11_091318.pdf
AMORC-Monographs/Atrium 2/017_Atrium_2_Nos_12-14_091318.pdf
AMORC-Monographs/Atrium 2/018_Analytical_Series_No_2_091318.pdf
AMORC-Monographs/Atrium 2/Atrium_2_Exercises_Meditations_and_Practical_Applications.pdf
AMORC-Monographs/Atrium 3/019_Atrium_3_Init_012422.pdf
AMORC-Monographs/Atrium 3/020_Atrium_3_Nos_1-3_041624.pdf
AMORC-Monographs/Atrium 3/021_Atrium_3_Nos_4-7_081219_copy.pdf
AMORC-Monographs/Atrium 3/022_Atrium_3_Nos_8-11_081219_copy.pdf
AMORC-Monographs/Atrium 3/023_Atrium_3_12-14_080923.pdf
AMORC-Monographs/Atrium 3/024_Analytical_3_081219_copy.pdf
AMORC-Monographs/Atrium 3/Atrium_3_-_Exercises_Meditations_and_Practical_Applications.pdf
AMORC-Monographs/Temple 1/025_Degree_1_Threshold_030223.pdf
AMORC-Monographs/Temple 1/026_Affil_Bodies_030123.pdf
AMORC-Monographs/Temple 1/027_Consecration_022723.pdf
AMORC-Monographs/Temple 1/028_New_Year_022723.pdf
AMORC-Monographs/Temple 1/028b_Imperator_Reflection_Cosmic_Evolution_040725.pdf
AMORC-Monographs/Temple 1/029_Degree_1_Preliminary_022723.pdf
AMORC-Monographs/Temple 1/030_Degree_1_Nos_1-3_041624.pdf
AMORC-Monographs/Temple 1/031_Degree_1_Nos_4-7_022723.pdf
AMORC-Monographs/Temple 1/032_Degree_1_Nos_8-10_022723.pdf
AMORC-Monographs/Temple 1/033_Manifesto_1_022723.pdf
AMORC-Monographs/Temple 1/C-_4_Postulant_s_Plea_030823.pdf
AMORC-Monographs/Temple 2/034_Degree_2_Initiation_031025.pdf
AMORC-Monographs/Temple 2/035_Degree_2_Nos_1-3_022823.pdf
AMORC-Monographs/Temple 2/036_Degree_2_Nos_4-7_022723.pdf
AMORC-Monographs/Temple 2/037_Degree_2_Nos_8-10_022823.pdf
AMORC-Monographs/Temple 2/038_Manifesto_2_022823.pdf
AMORC-Monographs/Temple 2/Initiation_Report_Second_Degree.pdf
AMORC-Monographs/Temple 3/039_Degree_3_Initiation_031323.pdf
AMORC-Monographs/Temple 3/040_Degree_3_Nos_1-3_102720.pdf
AMORC-Monographs/Temple 3/041_Degree_3_Nos_4-7_051622.pdf
AMORC-Monographs/Temple 3/042_Degree_3_Nos_8-10_051622.pdf
AMORC-Monographs/Temple 3/043_Manifesto_3_052322.pdf
AMORC-Monographs/Temple 3/Initiation_Report_Third_Degree.pdf
AMORC-Monographs/Temple 4/044_Degree_4_Initiation_031323.pdf
AMORC-Monographs/Temple 4/045_Degree_4_Nos_1-3_080519.pdf
AMORC-Monographs/Temple 4/046_Degree_4_Nos_4-7_050718.pdf
AMORC-Monographs/Temple 4/047_Degree_4_Nos_8-10_041624.pdf
AMORC-Monographs/Temple 4/048_Manifesto_4_052622.pdf
AMORC-Monographs/Temple 4/Initiation_Report_Fourth_Degree.pdf
AMORC-Monographs/Temple 5/049_Degree_5_Initiation_031323.pdf
AMORC-Monographs/Temple 5/050_Degree_5_Nos_1-3_080519.pdf
AMORC-Monographs/Temple 5/051_Degree_5_Nos_4-7_052622.pdf
AMORC-Monographs/Temple 5/052_Degree_5_Nos_8-10_050318.pdf
AMORC-Monographs/Temple 5/053_Manifesto_5_052622.pdf
AMORC-Monographs/Temple 5/Initiation_Report_Fifth_Degree.pdf
AMORC-Monographs/Temple 6/054_Degree_6_Initiation_031323.pdf
AMORC-Monographs/Temple 6/055_Degree_6_Nos_1-3_080519.pdf
AMORC-Monographs/Temple 6/056_Degree_6_Nos_4-7_052622.pdf
AMORC-Monographs/Temple 6/057_Degree_6_Nos_8-10_041422.pdf
AMORC-Monographs/Temple 6/058_Manifesto_6_052622.pdf
AMORC-Monographs/Temple 6/059_Degree_6_Nos_11-14_052622.pdf
AMORC-Monographs/Temple 6/060_Degree_6_Nos_15-18_052622.pdf
AMORC-Monographs/Temple 6/061_Degree_6_Nos_19-21_020422.pdf
AMORC-Monographs/Temple 6/062_Manifesto_7_052622.pdf
AMORC-Monographs/Temple 6/063_Degree_6_Nos_22-25_052622.pdf
AMORC-Monographs/Temple 6/C-10_Oath_of_RC_Healer_052121.pdf
AMORC-Monographs/Temple 6/Initiation_Report_Sixth_Degree.pdf
AMORC-Monographs/Temple 7/064_Degree_7_Initiation_031323.pdf
AMORC-Monographs/Temple 7/065_Degree_7_Nos_1-3_080519.pdf
AMORC-Monographs/Temple 7/066_Degree_7_Nos_4-6_052622.pdf
AMORC-Monographs/Temple 7/067_Manifesto_8_052622.pdf
AMORC-Monographs/Temple 7/068_Degree_7_Nos_7-10_052622.pdf
AMORC-Monographs/Temple 7/069_Degree_7_Nos_11-14_052622.pdf
AMORC-Monographs/Temple 7/070_Degree_7_Nos_15-17_052622.pdf
AMORC-Monographs/Temple 7/071_Manifesto_9_052622.pdf
AMORC-Monographs/Temple 7/072_Degree_7_Nos_18-21_052622.pdf
AMORC-Monographs/Temple 7/073_Degree_7_Nos_22-25_050718.pdf
AMORC-Monographs/Temple 7/Initiation_Report_Seventh_Degree.pdf
AMORC-Monographs/Temple 9/087_Degree_9_Initiation_031323.pdf
AMORC-Monographs/Temple 9/088_Degree_9_Nos_1-2_080519.pdf
AMORC-Monographs/Temple 9/089_Manifesto_13_052622.pdf
AMORC-Monographs/Temple 9/090_Fragment_1_080519.pdf
AMORC-Monographs/Temple 9/091_Deg_9_Nos_3-5_052622.pdf
AMORC-Monographs/Temple 9/092_Fragment_2_052622.pdf
AMORC-Monographs/Temple 9/093_Degree_9_Nos_6-8_052722.pdf
AMORC-Monographs/Temple 9/094_Fragment_3_052722.pdf
AMORC-Monographs/Temple 9/095_Degree_9_Nos_9-10_052722.pdf
AMORC-Monographs/Temple 9/096_Manifesto_14_052722.pdf
AMORC-Monographs/Temple 9/097_Fragment_4_052722.pdf
AMORC-Monographs/Temple 9/098_Degree_9_Nos_11-13_052722.pdf
AMORC-Monographs/Temple 9/099_Fragment_5_052722.pdf
AMORC-Monographs/Temple 9/100_Degree_9_Nos_14-16_052722.pdf
AMORC-Monographs/Temple 9/101_Fragment_6_052722.pdf
AMORC-Monographs/Temple 9/102_Degree_9_Nos_17-18_050718.pdf
AMORC-Monographs/Temple 9/103_Manifesto_15_052722.pdf
AMORC-Monographs/Temple 9/104_Fragment_7_052722.pdf
AMORC-Monographs/Temple 9/105_Degree_9_Nos_19-21_052722.pdf
AMORC-Monographs/Temple 9/106_Fragment_8_052722.pdf
AMORC-Monographs/Temple 9/107_Deg_9_Nos_22-24_052722.pdf
AMORC-Monographs/Temple 9/108_Fragment_9_052722.pdf
AMORC-Monographs/Temple 9/109_Degree_9_Nos_25-26_052722.pdf
AMORC-Monographs/Temple 9/110_Manifesto_16_052722.pdf
AMORC-Monographs/Temple 9/111_Fragment_10_052722.pdf
AMORC-Monographs/Temple 9/112_Degree_9_Nos_27-29_120117.pdf
AMORC-Monographs/Temple 9/113_Fragment_11_052722.pdf
AMORC-Monographs/Temple 9/114_Degree_9_Nos_30-32_121817.pdf
AMORC-Monographs/Temple 9/115_Fragment_12_052722.pdf
AMORC-Monographs/Temple 9/116_Degree_9_Nos_33-34_050918.pdf
AMORC-Monographs/Temple 9/117_Manifesto_17_052722.pdf
AMORC-Monographs/Temple 9/C-5_802_9th_Degree_Oath_Scroll_052121.pdf
AMORC-Monographs/Temple 9/Initiation_Report_Ninth_Degree.pdf
test_output/test/auto/images/0ff0297ec33b72b729054ffa723ad65038f53ec26c6747250d71b12c538819eb.jpg
test_output/test/auto/images/2a981058d2815e1c06402484abed906d1b32b47008175900be2a4ee0f3ee30b0.jpg
test_output/test/auto/images/2f4b819c24fcf86caf1da449daada3b95d2cb9893a3c8711b56f6b5c57a05f2b.jpg
test_output/test/auto/images/3e823bed817946776d0925e4539ac0ff8f71079dacae792c3c7c5cfb36ff27ed.jpg
test_output/test/auto/images/39debb41a84ca006b08864f30167fc45f5bd09a7ee57b90fe064e92b4db1eba4.jpg
test_output/test/auto/images/67ed7787e7ffc8e71102772c7be91a9c528bdda8becb76832c42a7a0850651db.jpg
test_output/test/auto/images/85cdcbe0683ea1d52e0da4ac6f76b8097d2baf318caf2dd880bb5b38d7c8d9c1.jpg
test_output/test/auto/images/878a0628ffe09862db6f79a54e22ea40e0a18518c2b8fbc862dde34d4659a116.jpg
test_output/test/auto/images/7156874af8aa39fa9934d11f642d7242d2cc19ef3091d61a88c2cd298aa59e33.jpg
test_output/test/auto/images/b1947289704c6ada9990e11e3c84714ee4732787847886dd97f9bdb9ff642b14.jpg
test_output/test/auto/images/ba2f5374a6c912d9896970de31a85a33cb481fc86c5e40ad80a7790cd2abf2ea.jpg
test_output/test/auto/images/be21a3bc9e41a33f7937217c3f6d4e0e612fcbcd7a940e8b3d31267ec7f8a340.jpg
test_output/test/auto/images/c7a9992fefff17a79dd8a0c9af8294229dc70e991fe971c99d4f26600bb0f48b.jpg
test_output/test/auto/images/e0b0853a637c1426cb00bb4a70ad9d122b5672e63f245c3bacd2c20ee649c6ff.jpg
