# Core
magic-pdf==1.2.2
numpy
pandas
matplotlib
scikit-learn
scipy
tqdm
requests
aiohttp
PyYAML
huggingface_hub
pillow
opencv-python-headless
filelock

# AI + MPS
torch
torchvision
torchaudio
transformers
onnxruntime
ultralytics
albumentations
doclayout_yolo

# PDF processing
pdfminer.six
PyMuPDF
python-docx

# Logging + utils
coloredlogs
termcolor
MarkupSafe
Jinja2
black
regex

# Optional (layout, OCR, etc.)
opencv-contrib-python
ftfy
rapidocr-onnxruntime